*{
    padding: 0;
    margin: 0em;
}

body{
    font-family: 'Poppins', sans-serif;
}

.name{
    font-weight: bold;
}

.s{
    color: orangered;
}


.menu{
    display: flex;
    gap: 10px;
    font-size: 12px;
    align-items: center;
}

.button{
    background-color: orangered;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.t{
    color: rgb(52, 51, 51);
}

.big-name{
    font-size: 30px;
    font-weight: bold;
}

.my-info{
    font-size: 10px;
    color: gray;
    margin-bottom: 10px;
}

.pashapashi{
    display: flex;
    gap: 10px;
    font-size: 10px;
}

.info-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

}

.header{
    background-color: rgba(255, 192, 203, 0.613);
    padding-top: 10px;
}

.h{
    text-align: center;
    margin-top: 100px;
}

.about{
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: rgb(73, 73, 73);
    padding-left: 100px;
    padding-right: 100px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 10px;
    color: rgb(56, 55, 55);
    font-weight: 500;
}

.text{
    font-size: 12px;
    font-weight: bold;
}

.footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}